extends layout

block content
  .card.mt-3
    img.card-img-top(src='', alt=user.name)
    .card-body
      h5.card-title=user.name
        span.badge.badge-light=user.status
      p.card-text=user.catchPhrase
      ul.list-group.list-group-flush
        li.list-group-item
          span.pr-1 email:
          span=user.email
        li.list-group-item
          span.pr-1 phone:
          span=user.phone
        li.list-group-item
          span.pr-1 website:
          a(href=user.website)=user.website
